/* 实名认证 */
.user_real_name{width: 860px;font-size:14px;}
/*标题*/
.personal_title{height: 60px;line-height: 60px;padding-left: 40px;color: #616CFF;font-size:16px;font-weight:500;background: #FFF;border-radius:3px;}
/*未实名认证*/
.person_part_no{margin-top: 10px;background: #FFF;border-radius:3px;padding: 40px 40px 20px;}
.person_part_tip{font-size:16px;margin-bottom: 30px;}
/*input*/
.real_form{min-height: 428px;}
.layui-form-item1{margin-bottom: 20px;}
.real_require{line-height: 38px;color: #FF0000;font-size: 16px;}
.layui-form-label1{padding: 0;width: 100px;height: 40px;line-height: 40px;text-align: center;color: #999;}
.real_input{width: 380px;border-radius:3px;padding-left: 22px;}
/*错误提示*/
.real_tip_1,.real_tip_2,.real_tip_3,.real_tip_4{margin-top: 10px;font-size:12px;color: #E73637;display: none;}
/*下拉框*/
.layui-input-inline1{width: 160px !important;margin-right: 60px !important;}
.layui-form-select .layui-input{border-radius: 3px;}
.layui-form-select dl dd.layui-this{background-color:#616CFF;}
.layui-input-inline1 .layui-form-select .layui-input{text-indent: 12px;}
/*提交*/
.real_sub{margin-top: 20px;width:130px;height:36px;background: #616CFF;border-radius:3px;color: #FFF;}
/*提交提示信息*/
.real_sub_tip{border-top: 1px solid #F2F3F4;padding-top: 20px;}
.real_sub_tip p{color: #999;line-height: 22px;}
/*实名认证失败、实名认证成功*/
.person_part_fail,.person_part_success{margin-top: 10px;padding-top: 110px;background: #FFF;border-radius:3px;text-align: center;}
.person_fail_img img,.person_success_img img{width:160px;height:160px;}
.person_fail_p1,.person_success_p1{margin-top: 24px;font-size:16px;}
.person_fail_p2,.person_success_p2{margin-top: 20px;color: #666;}
.person_rz_reset{margin-top: 40px;margin-bottom: 170px;width:130px;height:36px;background: #616CFF;border-radius:4px;color: #FFF;}
/*成功*/
.person_part_success{padding: 110px 60px 0;}
.person_success_details{margin: auto;padding: 20px;margin-top: 30px;width:280px;height:86px;background: #EEE;border-radius:4px;text-align: left;}
.person_success_details p:nth-child(1){margin-bottom: 10px;}
.person_rz_success{margin-top: 80px;border-top: 1px solid #EEE;height: 54px;line-height: 54px;color: #999;}
/*侧边栏变色*/
.account_switching .account_li:nth-child(2) a{background-color: #616CFF;color: #ffffff;}
