<!--三级联动-->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
<link rel="stylesheet" type="text/css" href="../../../public/webBase/public/kkpager/kkpager_blue.css" />
<link rel="stylesheet" type="text/css" href="../../../public/webBase/css/user/myResume/myResumePer.css"/>
<script src="../../../public/webBase/public/vue-3.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../public/webBase/public/element-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../public/webBase/js/user/myResume/positionName.js" type="text/javascript" charset="utf-8"></script>
<!--3 - end-->
<script src="../../../public/webBase/js/user/myResume/myResumeCo.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../public/webBase/public/kkpager/kkpager.min.js" type="text/javascript"></script>
<div class="layui-tab layui-tab-brief co_resume" lay-filter="demo">
	<ul class="layui-tab-title" id="luiID">
		<li class="layui-this">职位管理</li>
		<li>简历推荐<!--<span class="layui-badge-dot resume_badge"></span>--></li>
		<li>查看过的简历</li>
	</ul>
	<div class="layui-tab-content resume_tab">
		<!--职位管理-->
		<div class="layui-tab-item layui-show">
			<!--已发布职位-->
			<div class="pos_management">
				<form class="layui-form">
					<div id="pos_management"></div>
					<script id="pos_management_template" type="text/html">
						<div class="pos_management_top cf">
							<div class="pos_already fl">
								已发布职位（<span>{{count_num.count}}</span>）
							</div>
							<div class="fr">
								<div class="release_pos">发布职位</div>
							</div>
						</div>
						<div class="pos_management_list">
							<ul>
							{{if Positions.length ==0}}
								<div class="">暂无数据</div>
								{{else}}
								{{each Positions}}
									<li class="cf">
										<div class="fl">
											<div>
												<span class="pos_pos1">{{$value.position_name}}</span>
												<span class="pos_salary1">{{$value.salary_range_name}}</span>
											</div>
											<div class="pos_under1">
												<span class="pos_address1">{{$value.work_city_name}}</span>
												<span class="pos_shu1">|</span>
												<!--<span class="pos_years1">{{$value.min_age}}-{{$value.max_age}}岁</span>
												<span class="pos_shu1">|</span>-->
												<span class="pos_edu1">{{$value.education_name}}</span>
											</div>
										</div>
										<div class="pos_time fr">{{$value.Strtime}}</div>
										<div class="pos_operate fr">
											<div class="pos_edit1 fr" edit_id="{{$value.id}}">
												<img src="../../../public/webBase/images/public/edit.png"/>编辑
											</div>
											<div class="pos_del1 fr" del_id="{{$value.id}}">
												<img src="../../../public/webBase/images/public/bin.png"/>删除
											</div>
											<div class="fr">
												{{if $value.status == 1}}
												<input type="checkbox" checked="checked" name="close" lay-skin="switch" lay-filter="switchTest{{$index}}">
												<span class="switch_text1 switch_color" pos_status="{{$value.id}}">招聘中</span>
												{{else}}
												<input type="checkbox" name="close" lay-skin="switch" lay-filter="switchTest{{$index}}">
												<span class="switch_text1" pos_status="{{$value.id}}">停止招聘</span>
												{{/if}}
											</div>
										</div>
									</li>
									{{/each}}
										{{if count_num.count>5}}
										<div id="kkpager"></div>
										{{else}}
										<div id="kkpager" style="display:none;"></div>
										{{/if}}
								{{/if}}
							</ul>
							
						</div>
						<div class="pos_management_page">
						</div>
					</script>
				</form>
			</div>
			<!--发布职位、编辑职位-->
			<div class="pos_release">
				<form class="layui-form" lay-filter="car_resume_eidt">
					<div class="pos_release_top">编辑职位信息</div>
					<div id="fb_edit_id" style="display: block;"></div>
					<div class="layui-inline cf">
						<label class="layui-form-label">职位名称</label>
						<div id="tab1_position_id" style="display: none;"></div>
						<div class="layui-input-inline fl" id="position_name">
							<el-cascader v-model="value" :options="options" :props="{ expandTrigger: 'hover' }" @change="handleChange"></el-cascader>
						</div>
						<div class="pos_tip1 fl">请选择职位名称</div>
					</div>
					<div class="layui-inline cf">
						<label class="layui-form-label">最低学历</label>
						<div class="layui-input-inline fl">
							<select name="pos_min_edu" id="pos_min_edu">
								<option value="">请选择</option>
								<option value="5">初中及以下</option>
								<option value="6">中专/中技</option>
								<option value="7">高中</option>
								<option value="8">大专</option>
								<option value="9">本科</option>
								<option value="10">硕士</option>
								<option value="11">博士</option>
							</select>
						</div>
						<div class="pos_tip2 fl">请选择最低学历</div>
					</div>
					<div class="layui-inline cf" id="pos_money_box">
						<label class="layui-form-label">薪资待遇</label>
						<div class="layui-input-inline fl">
							<select name="pos_money" id="pos_money">
								<option value="">请选择</option>
								<option value="21">2K/月以下</option>
								<option value="22">2K-4K/月</option>
								<option value="23">4K-6K/月</option>
								<option value="24">6K-8K/月</option>
								<option value="25">8K-10K/月</option>
								<option value="26">10K-15K/月</option>
								<option value="27">15K-20K/月</option>
								<option value="28">20K-30K/月</option>
								<option value="29">30K/月以上</option>
							</select>
						</div>
						<div class="pos_tip3 fl">请选择薪资待遇</div>
					</div>
					<div class="layui-inline select_2 cf">
						<label class="layui-form-label">工作地点</label>
						<div class="layui-input-inline select_province fl">
							<select name="province" id="real_province" lay-search lay-filter="province">
								<option value="">省份</option>
							</select>
						</div>
						<div class="layui-input-inline fl select_province_city">
							<select name="city" id="real_city" lay-search lay-filter="city">
								<option value="">市区</option>
							</select>
						</div>
						<div class="pos_tip5 fl">请选择省份</div>
						<div class="pos_tip6 fl">请选择市区</div>
					</div>
				</form>
				<div class="posi_btn1">
					<button type="button" class="layui-btn publish_job">发布职位</button>
					<button type="button" class="layui-btn cancel_edit">取消编辑</button>
				</div>
			</div>
		</div>
		<!--简历推荐-->
		<div class="layui-tab-item">
			<div id="tj_resume"></div>
			<script id="tj_resume_template" type="text/html">
				<div class="tj_resume" id="see_resume_detail">
					<ul id="feye_number_all">
					{{if RecommendedInfors.length == 0}}
						<div class="per_no_data">暂无数据</div>
						{{else}}
						{{each RecommendedInfors}}
						<li class="cf" name='{{$value.id}}'>
							<div class="res_surname fl">
								{{if $value.reality_name !=null}}
									{{$value.reality_name.substr(0,1)}}
								{{/if}}
							</div>
							<div class="fl">
								<div class="res_pos_name">{{$value.position_name}}</div>
								<div class="res_pos_details">
									<span>{{$value.reality_name}}</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.city_name}}</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.inforAge}}岁</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.education_name}}</span>
								</div>
							</div>
							<div class="res_salary fr">{{$value.min_salary_expectation}}-{{$value.max_salary_expectation}}K</div>
						</li>
						{{/each}}
						{{/if}}
					</ul>
					<div class="kk_page2 kk_pages cf">
						<div class="kk2_prev pagination fl">上一页</div>
						<div class="kk2_page kkpage fl"></div>
						<div class="kk2_next pagination fl">下一页</div>
					</div>
				</div>
			</script>
		</div>
		<!--查看过的简历-->
		<div class="layui-tab-item">
			<div id="see_resume"></div>
			<script id="see_resume_template" type="text/html">
				<div class="see_resume" id="see_resume_detail">
					<ul>
						{{if purchaseds.length == 0}}
						<div class="per_no_data">暂无数据</div>
						{{else}}
						{{each purchaseds}}
						<li class="cf" name='{{$value.resume_information_id}}'>
							<div class="res_surname fl">
								{{if $value.reality_name !=null}}
									{{$value.reality_name.substr(0,1)}}
								{{/if}}
							</div>
							<div class="fl">
								<div class="res_pos_name">{{$value.position_name}}</div>
								<div class="res_pos_details">
									<span>{{$value.reality_name}}</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.city_name}}</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.inforAge}}岁</span>
									<span class="pos_shu2">|</span>
									<span>{{$value.education_name}}</span>
								</div>
							</div>
							<div class="res_salary fr">{{$value.min_salary_expectation}}-{{$value.max_salary_expectation}}K</div>
						</li>
						{{/each}}
						{{/if}}
					</ul>
					<div class="kk_page3 kk_pages cf">
						<div class="kk3_prev pagination fl">上一页</div>
						<div class="kk3_page kkpage fl"></div>
						<div class="kk3_next pagination fl">下一页</div>
					</div>
				</div>
			</script>
		</div>
	</div>
</div>
<!--预览查看过的简历-->
				<!--遮罩层-->
		<div class="preview_resume_bg">
					<div class="sr_preview_overflow">
				<div class="preview_resume_box" id='preview_resume_box'>
							<!--更新时间  —— 头像-->
				<div id="per_see_resume_div"></div>
				<script id="per_see_resume_div_templete" type="text/html">
						
				<div class="per_top padding_left_right_40">
					<div class="per_head_portrait">
						<div class="per_photo">
							<img src="{{information.photo}}" />
						</div>
						<div class="per_name_Gender">
							<span class="per_name">{{information.reality_name}}</span>
							{{if users.sex == 0}}
							<img src="../../../public/webBase/images/user/per_nan.png" class="" title="性别" alt="性别" />
							{{else}}
							<img src="../../../public/webBase/images/user/per_nv.png" class="" title="性别" alt="性别" />
							{{/if}}
						</div>
					</div>
				</div>
				<!--基本信息-->
				<div class="per_essential_information padding_left_right_40 per_information_none basic_information">
					<div class="per_essential_title cf">
						<h5 class="fl per_information_h5">基本信息</h5>
					</div>
					<ul class="per_year_ul cf">
						<!--年龄-->
						{{if users.userAge == '' || users.userAge == null}}
						<li class="per_year_li fl">年龄</li>
						{{else}}
						<li class="per_year_li fl">{{users.userAge}}岁</li>
						{{/if}}
						<!--民族-->
						{{if information.race_name == '' || information.race_name == null}}
						<li class="per_year_li fl">民族</li>
						{{else}}
						<li class="per_year_li fl">{{information.race_name}}</li>
						{{/if}}
						<!--//城市-->
						{{if information.city_name == '' || information.city_name == null}}
						<li class="per_year_li fl">北京</li>
						{{else}}
						<li class="per_year_li fl">{{information.city_name}}</li>
						{{/if}}
					</ul>
					<div class="per_iphone_and_email cf">
						<!--手机-->
						<div class="per_iphone fl">
							<img src="../../../public/webBase/images/user/per_phone.png" />
							{{if information.mobile == '' || information.mobile == null}}
							<span class="">未填写</span>
							{{else}}
							<span class="">{{information.mobile}}</span>
							{{/if}}
						</div>
						<!--邮箱-->
						<div class="per_iemail fl">
							<img src="../../../public/webBase/images/user/per_email.png" />
							{{if information.email == '' || information.email == null}}
							<span class="">未填写</span>
							{{else}}
							<span class="">{{information.email}}</span>
							{{/if}}
						</div>
					</div>
				</div>
				<!--求职意向-->
				<div class=" padding_left_right_40 per_essential_information Job_intention">
					<div class="per_job_title cf">
						<h5 class="fl per_information_h5">求职意向</h5>
					</div>
					<!--无信息时提示-->
					{{if positionList == '' || positionList == null}}
					<div class="per_job_content_no">
						请添加您的求职意向
					</div>
					{{else}}
					<!--有信息时提示-->
					<div class="per_job_content" id="per_job_intention">
						{{each positionList}} <!--//true-->
							<!--有竖线时   —— 即有一条数据值时-->
							<div class="per_job_option cf">
								<ul class="per_job_exhibition fl">
									<li class="fl">{{$value.positionname}}</li>
									<li class="fl">{{$value.salary}}</li>
									<li class="fl">{{$value.cityname}}</li>
									<!--获取的职位id-->
									<input type="hidden" name="per_position_id" id="per_position_id" value="{{$value.position_id}}" />
									<!--获取的城市id-->
									<input type="hidden" name="per_city_id" id="per_city_id" value="{{$value.workcity_id}}" />
									<input type="hidden" name="per_city_idlll" id="per_city_idlll" value="{{$value.id}}" />
									<!--获取当前有几条数据-->
									<input type="hidden" name="per_job_position_length" id="per_job_position_length" value="" />
								</ul>
							</div>
						{{/each}}
					</div>
					{{/if}}
				</div>
					<!--工作经历-->
				<div class="Work_Jingl padding_left_right_40 per_essential_information per_margin-bot15">
					<div class="per_job_title cf">
						<h5 class="fl per_information_h5">工作经历</h5>
					</div>
					{{if experiences.length == 0}}
					<div class="per_job_content_no">
						请添加您的工作经历
					</div>
					{{else}} {{each experiences}}
					<ul class="per_job_option car_Work_Jingl">
						<li class="per_work_experience">
							<div class="per_work_li_title cf">
								<div class="per_work_h5 fl">
									<h5 class="fl">{{$value.name}}</h5>
									<span class="fl">{{$value.workTime}}-{{$value.workEndTime}}</span>
								</div>
							</div>
							<ul class="per_job_exhibition cf">
								
								<li class="fl">{{$value.position_name}}</li>
							</ul>
							<ul class="per_job_content_detail">
								<li>{{$value.work_content}}</li>
							</ul>
						</li>
					</ul>
					{{/each}} {{/if}}
				</div>
				<!--教育背景-->
				<div class="Educational_background padding_left_right_40 per_essential_information per_margin-bot15">
					<div class="per_job_title cf">
						<h5 class="fl per_information_h5">教育背景</h5>
					</div>
					{{if background.length == 0}}
					<div class="per_job_content_no">
						请添加您的教育背景
					</div>
					{{else}}
					{{each background}}
					<ul class="per_job_option">
						<li class="per_work_experience">
							<div class="per_work_li_title cf">
								<div class="per_work_h5 fl">
									<h5 class="fl">{{$value.name}}</h5>
									<span class="fl">{{$value.schoolTime}}-{{$value.schoolEndTime}}</span>
								</div>
							</div>
							<ul class="per_job_exhibition cf">
								<li class="fl">{{$value.specialty}}</li>
								<li class="fl">{{$value.education_name}}</li>
							</ul>
						</li>
					</ul>
					{{/each}}
				{{/if}}
				</div>
				<!--自我评价-->
				<div class="per_padding padding_left_right_40 per_essential_information sr_border_bottom0 per_self_evaluation_edit">
					<div class="per_job_title cf">
						<h5 class="fl per_information_h5">自我评价</h5>
					</div>
					{{if !information.self_appraise || information.self_appraise.length == 0}}
					<div class="per_job_content_no">
						请添加您的自我评价
					</div>
					{{else}}
					<ul class="per_job_option">
						<ul class="per_job_content_detail per_work_experience">
							<li>{{information.self_appraise}}</li>
						</ul>
					</ul>
					{{/if}}
				</div>
				</script>
				</div>
				<!--遮罩层关闭-->
				<div class="preview_close_and_download">
					<div class="preview_close" id="preview_close_id">
						<img src="../../../public/webBase/images/user/cha.png"/>
						<div class="close_white close_white_close">关  闭   预  览</div>
					</div>
					<!--<div class="preview_download" id="preview_close_download">
						<img src="../../../public/webBase/images/user/cha.png"/>
						<div class="close_white close_white_download">简  历  下  载</div>
					</div>-->
				</div>
			</div>                
				<!--预览简历end-->
		</div>